.Done {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* width: 520px; */
    min-height: 600px;
    background-image: radial-gradient( circle 935px at 3.1% 5.8%,  rgb(186, 251, 148) 0%, rgb(141, 227, 133) 100.2% );
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
  }

  #done-words{
    color:white;
    font-size: larger;
    padding-bottom: 15px;
    font-style:italic;
   padding-left: 10px;
   padding-right: 10px

}

.done-container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    padding: 3%;
  }

  .done-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background-image: linear-gradient( 76.9deg,  rgba(255,90,90,1) 27.2%, rgba(130,5,255,1) 79.9% );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }

  .save-icon{
      color: white;
      margin-right: 2% ;
      margin-top: 1%;
  }

  .save{
      display: flex;
      justify-content: end;
  }

  .save-icon{
      cursor: pointer;
  }