.ProgressCheck {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* width: 500px; */
    min-height: 400px;
    background-color: #0093E9;
    background-color: #FF9A8B;
    background-color: #FF9A8B;
background-image: linear-gradient(200deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);

    

    text-align: center;
    margin: 128px auto;
    margin-left: 50px;
    border-radius: 10px;
    padding-bottom: 32px;
    position: fixed;
  }

  h4 {
    color: #fff;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .percentage{
    padding-top: 10%;
    color: rgb(165, 18, 60);
  }
